#main-container{
	width: 360px;
	height: 640px;
	border: solid black 1px;
	margin:auto;
	background-color: #52749A;
	position:relative;
	font-family: 'Montserrat', sans-serif;
}

/* ======================> */

.header{
	height:10%;
	width:100%;
	background-color: #102944;
}


h2 {
	margin-top:0px;
	padding-top:15px;
    text-align: center;
    color:white;
    font-family: 'Revalia', cursive;
}

/* ======================> */

.headshot{
	border-radius: 50%;	
	height:65px;
	width:65px;
	float:left;
	border: solid black 1px;
}

#main-body{
	width:100%;
	height:80%;
}

#message-display{
	width: 80%;
	height:50px;
	margin-top:3%;
	margin-bottom:3%;
	margin-left:3%;
}

.message{
	float: left;
	width:50%;
	height:85%;
	border-radius:5px;
	margin-left:10px;
	background-color:white;
}

table{
	width:100%;
}
td{
	border:solid black 3px;
	width:100%;
}

#message-text{
	
	word-wrap: break-word;
}


/* ======================> */

input[type=text]{
	font-family: 'Montserrat', sans-serif;
	font-size: .9em;
}
	


#send{
	height: 2.5em;
	width:20%;
	background-color: ;
}


.input-text{
	height:7%;
	background-color:white;
	border-top:solid 1px grey;
	width:100%;
	position:absolute;
	bottom:0;

}

#text-box{
	margin-left:20%;
}

.bottom-area{
	
	margin-top:7px;
}

/* http://paletton.com/#uid=13B0u0kllllvD4Lqud3gctCb2MJ */